.root {
  font-size: 1.6rem;
}
.block-tasks{
  background-color: rgb(255, 241, 224);
  max-width: 50vw;
}
.block-tasks__h3{
font-size: 1.5rem;
}
.block-tasks__input {
  width: 50%;
}
.block-tasks__сonclusion {
  width: 50%;
  min-height: 10vw;
}
.block-tasks__inputBtn{
  background-color: rgb(156, 127, 92);
  color: rgb(255, 255, 255);
  border-color: rgb(156, 127, 92);
}
.block-tasks__cleaningBtn {
  background-color: rgb(156, 127, 92);
  color: rgb(255, 255, 255);
  border-color: rgb(156, 127, 92);
}
.no-tasks {
  background-color: rgb(255, 241, 224);
  border: none;
  text-align: center;
  color: #888;
  
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;}

  ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: #f44336;
  color: white;
}
.closeInput {
  display: none;
}
