.root {
  font-size: 1.6rem;
  margin-left: 17%;
  margin-right: 17%;
}
.icon1{
  width: 2.5vw;
}
.icon{
  width: 1.7vw;
}
.block-tasks{
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(240, 255, 249);
  border: 0.5vw solid rgb(122, 199, 151);
  border-radius: 50% 20% / 10% 40%;
}
.block-tasks__h3{
font-size: 1.8rem;
color: rgb(79, 146, 105);
text-align: center;
}
.block-tasks__input {
  width: 70%;
  border: none;
  margin-left: 5%;
  background-color:rgb(194, 221, 205);
}
.block-tasks__сonclusion {
  min-height: 10vw;
}
.btn {
  cursor: pointer;
  background-color:rgb(79, 146, 105);
  color: rgb(255, 255, 255);
  border:none;
  height: 3vw;
  box-shadow: 7px 5px 9px -1px rgba(7,69,36,0.75);
-webkit-box-shadow: 7px 5px 9px -1px rgba(7,69,36,0.75);
-moz-box-shadow: 7px 5px 9px -1px rgba(7,69,36,0.75);
border-radius: 1vw;
}
.block-tasks__inputBtn{
  margin-left: 1%;
}
.block-tasks__cleaningBtn {
  margin-top: 2%;
  margin-left: 45%;
  margin-bottom: 3%;
}
.btn:disabled {
background-color: #daf5ea;
color: #96cfc7;
cursor:default;
box-shadow: none;
}
.no-tasks {
  background-color: none;
  border: none;
  color: #96cfc7;
  display: flex;
  justify-content: center;
}
ul {
  padding-left: 0;
}
ul li {
  max-height: 2vw;
  cursor: pointer;
  position: relative;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  list-style-type: none;
  background-color: rgb(218, 247, 230);
  font-size: 1.5rem;
  transition: 0.2s;
}
ul li:hover {
  background: rgb(163, 206, 181);
}
ul li.checked {
  background: rgb(119, 170, 140);
  color: #fff;
  text-decoration: line-through;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2.5%;
  font-size: 1.9rem;
}
.close:hover {
  background-color:rgba(7,69,36,0.75);
  color: white;
}
.closeInput {
  display: none;
}
.sectionNamb {
  min-height: 5vw;
  margin-top: 5%;
  margin-bottom: 5%;
}
.divNamb{
  margin-top: 2%;
  display: grid;
}